<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="RemoteIQ Agent" Language="1033" Version="0.1.0" Manufacturer="RemoteIQ"
           UpgradeCode="A7D3F2AA-6A2C-4C2C-9C9A-5C6E4D2B1F00">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate />
    <Feature Id="ProductFeature" Title="RemoteIQ Agent" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="RemoteIQ">
          <Directory Id="AGENTFOLDER" Name="Agent" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="RemoteIQ" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="AGENTFOLDER">
      <Component Id="AgentExe" Guid="*">
        <File Id="AgentExeFile" Source="$(var.PublishDir)\RemoteIQ.Agent.exe" KeyPath="yes" />
        <Shortcut Id="StartMenuShortcut"
                  Directory="ApplicationProgramsFolder"
                  Name="RemoteIQ Agent"
                  WorkingDirectory="AGENTFOLDER"
                  Icon="agent.ico"
                  Target="[AGENTFOLDER]RemoteIQ.Agent.exe" />
        <RegistryValue Root="HKLM" Key="Software\RemoteIQ\Agent" Name="InstallDir" Type="string" Value="[AGENTFOLDER]" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Icon Id="agent.ico" SourceFile="$(var.PublishDir)\agent.ico" />
  </Fragment>
</Wix>